<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	<title>Tokyo Taxi</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	 
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<style>
		#map {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -5;
		}
		.main-element
		{
			display: block;
			z-index: 100;
			/*margin: auto;*/
		}
		.main-element > .row {
			padding-top: 350px;
		}

		.full-width{
			display: block;
			width: 100%;
		}
		.auth {
			position: fixed;
			top: 10px;
			right: 10px;
		}
	</style>
</head>
<body>

	<div id="map">
	</div>
	
	<div class="auth">
		<form action="" class="form-inline" role="form">
			<div class="form-group">
				<label for="username" class="control-label">Username</label>
				<input type="text" class="form-control" id="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="password" class="control-label">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Username">
			</div>
			<button type="submit" class="btn btn-default">Sign in</button>
		</form>
	</div>

	<div class="main-element">
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div action="" class="form">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" id="search-query" placeholder="Tìm kiếm địa điểm...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" id="place-button"><i class="glyphicon glyphicon-search"></i></button>
							</span>
						</div><!-- /input-group -->
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<button type="button" class="btn btn-danger btn-lg full-width" data-toggle="modal" data-target="#parcelModal"><i class="glyphicon glyphicon-envelope"></i> Parcel Request</button>
							</div>
							<div class="col-md-6 col-xs-6">
								<a href="passenger#nopackage" type="button" class="btn btn-success btn-lg full-width"><i class="glyphicon glyphicon-user"></i> Passenger Request</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="parcelModal" tabindex="-1" role="dialog" aria-labelledby="parcelModalLabel">
		<div class="modal-dialog" role="document">
			<form action="#" method="post" name="form">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="parcelModalLabel">Parcel information</h4>
				</div>
				<div class="modal-body">
						<div class="form-group">
							<label for="parcel_type" class="control-label">{{ form.parcel_type.label }}:</label>
							<select name="parcel_type" id="parcel_type" class="form-control">
								{% for choice in form.parcel_type.choices %}
									<option value="{{ choice[0] }}">{{ choice[1] }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="parcel_weight" class="control-label">{{ form.parcel_weight.label }}:</label>
							{{ form.parcel_weight(class="form-control")}}
							
						</div>
						<div class="form-group">
							<label for="parcel_dimension" class="control-label">{{ form.parcel_dimension.label }}:</label>
							{{ form.parcel_dimension(class="form-control")}}
						</div>
						<div class="form-group">
							<label for="parcel_arrive_time" class="control-label">{{ form.parcel_arrive_time.label }}:</label>
							<select name="parcel_arrive_time" id="parcel_arrive_time" class="form-control">
								{% for choice in form.parcel_arrive_time.choices %}
									<option value="{{ choice[0] }}">{{ choice[1] }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="parcel_fee" class="control-label">{{ form.parcel_fee.label }}:</label>
							{{ form.parcel_fee(class="form-control")}}
						</div>
						<div class="form-group">
							<label for="parcel_note" class="control-label">{{ form.parcel_note.label }}:</label>
							{{ form.parcel_note(class="form-control")}}
						</div>
						<div class="form-group">
							{{ form.parcel_place(id="parcel_place", value="", class="form-control")}}
						</div>
						{# <input type="hidden" name="parcel_place" value="" id="place_input"> #}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Send request</button>
				</div>
			</div>
			</form>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZvsz4xVC_W_xSnw9jFuygggEl8DwHrb0&callback=initMap&libraries=places" async defer></script>
	<script>
		var container = document.getElementById('map');
		var map;

		function initMap() {
			map = new google.maps.Map(container, {
				center: {lat: 35.700868, lng: 139.5699583},
				zoom: 9,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				mapTypeControl:false,
				zoomControl:true,
				scaleControl:true,
			    fullscreenControl: false
			});

			addSearchControl(map);

		}
		
		function fitMap() {
			var w = window.innerWidth;
			var h = window.innerHeight;

			container.style.width = (w - 1) + 'px';
			container.style.height = (h - 1) + 'px';
		}

		function addSearchControl(map) {
			// Create the search box and link it to the UI element
			var input = document.getElementById('search-query');
			var searchBox = new google.maps.places.SearchBox(input);
			map.controls[google.maps.ControlPosition.TOP_CENTER].push(searchBox[0]);

			// Bias the SearchBox results towards current map's viewport.
			map.addListener('bounds_changed', function() {
				searchBox.setBounds(map.getBounds());
			});

			var markers = [];
			// Listen for the event fired when the user selects a prediction and retrieve
			// more details for that place.
			searchBox.addListener('places_changed', function() {
				var places = searchBox.getPlaces();

				if (places.length == 0) {
				  return;
				}

				// Clear out the old markers.
				markers.forEach(function(marker) {
				  marker.setMap(null);
				});
				markers = [];

				// For each place, get the icon, name and location.
				var bounds = new google.maps.LatLngBounds();
				places.forEach(function(place) {
				  var icon = {
				    url: place.icon,
				    size: new google.maps.Size(71, 71),
				    origin: new google.maps.Point(0, 0),
				    anchor: new google.maps.Point(17, 34),
				    scaledSize: new google.maps.Size(10, 10)
				  };

				  // Create a marker for each place.
				  markers.push(new google.maps.Marker({
				    map: map,
				    icon: icon,
				    title: place.name,
				    position: place.geometry.location
				  }));

				  if (place.geometry.viewport) {
				    // Only geocodes have viewport.
				    bounds.union(place.geometry.viewport);
				  } else {
				    bounds.extend(place.geometry.location);
				  }
				});

				recordThePlace();
				map.fitBounds(bounds);
			});
		}


		function recordThePlace() {
			var el = $('#parcel_place');
			var search_input = $('#search-query');

			el.val(search_input.val());

			console.log(el);
			console.log(search_input);
		}

		$(document).ready(function() {
			fitMap();
		});
	</script>
</body>
</html>